:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
  min-height: 5000px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/pew.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(2px) grayscale();
  -webkit-filter: blur(2px) grayscale();
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h4 {
  font-size: 1.6rem;
  font-weight: 400;
}

.hero h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
  margin-top: 10px;
  box-shadow: 2px 3px 4px rgb(40, 39, 39);
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
}


.judul,
.offcanvas-title {
  color: var(--bg);
  font-family: 'Sacramento';
  font-size: 3rem;
  font-weight: bold;
}

.mynav {
  background-color: rgb(255 255 255 / 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynav .offcanvas {
  height: 40vh;
}

.mynav .nav-link {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-left: -5px;
}


.home {
  background-image: url(../img/floral.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 14rem;
  padding-bottom: 5rem;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--pink);
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  color: #666;
  font-size: 1.1rem;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: 'Sacramento';
  font-size: 2.5rem;
  color: var(--pink);
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 5px rgb(0 0 0 / .5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(50px);
  -webkit-transform: translateX(-50%) translateY(50px);
  -moz-transform: translateX(-50%) translateY(50px);
  -ms-transform: translateX(-50%) translateY(50px);
  -o-transform: translateX(-50%) translateY(50px);
}

.home .heart i {
  color: var(--pink);
  margin: auto;
}

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info a {
  color: var(--pink);
  background-color: white;
}

.info a:hover {
  color: white;
  background-color: var(--pink);
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid #888;
}

.info .card-header {
  border-bottom: 1px solid #888;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.info .card-footer {
  font-size: 0.8rem;
  border-top: 1px solid #888;
}

.story,
.gallery,
.rsvp,
.gifts {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.1rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: '';
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.4rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: '';
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-img {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateX(-50%) translateY(25px);
  -webkit-transform: translateX(-50%) translateY(25px);
  -moz-transform: translateX(-50%) translateY(25px);
  -ms-transform: translateX(-50%) translateY(25px);
  -o-transform: translateX(-50%) translateY(25px);
  background-color: #ccc;
  background-image: url(../img/pew.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timeline li .timeline-panel {
  float: left;
  width: 40%;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 1.3rem;
}

.timeline li .timeline-panel::before {
  content: '';
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: '';
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  position: absolute;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.timeline-panel .timeline-heading h3 {
  font-size: 1.5rem;
}

.timeline-panel .timeline-heading span {
  font-size: 0.8rem;
  display: block;
  margin-top: -5px;
  color: #0a0a0a;
}

.timeline-panel .timeline-body p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1rem;
}

.gallery {
  background-color: #f5f5f5;
}

.rsvp {
  background-color: var(--bg);
}

.rsvp h2 {
  font-size: 4.3rem;
}

.rsvp p {
  color: white;
}

.rsvp form label {
  color: white;
}

.rsvp button {
  background-color: var(--pink);
  border: 1px solid white;
  color: white;
}

.rsvp button:hover {
  color: var(--pink);
  background-color: white;
  border: 1px solid var(--pink);
}

footer {
  padding: 2.2rem;
  background-color: var(--pink);
}

footer .block {
  color: white;
}

footer li {
  display: inline-block;
  list-style: none;
}

footer a {
  color: var(--bg);
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
}

footer a:hover {
  color: white;
}

.audio-icon-wrapper {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: .5;
  mix-blend-mode: difference;
  animation: muter 4s linear infinite;
  -webkit-animation: muter 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}



/* animasi */
@keyframes muter {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}



























/* media query */
/* Extra Large */
@media (max-width: 992px) {
  .home .heart {
    transform: translateX(-50%) translateY(30px);
    -webkit-transform: translateX(-50%) translateY(30px);
    -moz-transform: translateX(-50%) translateY(30px);
    -ms-transform: translateX(-50%) translateY(30px);
    -o-transform: translateX(-50%) translateY(30px);
  }
}




/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown>.simply-section {
    padding: 70px;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 30%;
  }

  .timeline li .timeline-img {
    left: 30%;
    top: -20px;
  }

  .timeline li .timeline-panel {
    float: right;
    left: -13%;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    top: 40px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    top: 40px;
    right: auto;

  }



}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown>.simply-section {
    padding: 60px;
    margin: 3px;
  }

  .mynav .nav-link {
    font-size: 1.6rem;
    text-align: center;
  }

  .mynav {
    overflow: hidden;
  }

  .timeline li .timeline-img {
    width: 105px;
    height: 105px;
    left: 30%;
    top: -30px;
  }

}

/* handphone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown>.simply-section {
    padding: 45px;
    margin: 1px;
  }

  .timeline::before {
    left: 20%;
  }

  .timeline li .timeline-img {
    left: 20%;
    top: -20px;
  }

  .timeline li .timeline-panel {
    float: right;
    left: -16%;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    top: 40px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    top: 40px;
    right: auto;

  }

}